In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dataset.csv' , sep = '|')

In [3]:
df.head()

,Unnamed: 0,Job Applicants:,Openings:,PG :,UG :,experience,job_desc,key_skills,position,salary,Doctorate :
0,0,59,1.0,Post Graduation Not Required,Any Graduate,2 - 5 years,job description technical skills chartered ac...,"['Assurance', 'Business transformation', 'Fixe...",PPM041 - AM-Internal Audit,Not Disclosed,NaN
1,1,39,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,4 - 6 years,job description roles responsibility deliver ...,"['Hibernate', 'Core Java', 'Front End', 'Oracl...",Java Full Stack Developer,Not Disclosed,NaN
2,2,130,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,5 - 10 years,job description roles responsibility actively...,"['Computer science', 'Data analysis', 'Analyti...",Sr. Data Scientist,Not Disclosed,NaN
3,3,42,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,10 - 15 years,job description role purpose principle archit...,"['Linux', 'Coding', 'Project management', 'Ana...",Principle Architect,Not Disclosed,NaN
4,4,102,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,3 - 8 years,job description 3-8 years experience dashboar...,"['tableau', 'Reporting Analyst', 'SQL database...",Industry Consulting Prin. Consultant,Not Disclosed,NaN

In [4]:
df.job_desc[1]

' job description roles responsibility deliver high-quality virtual in-person technical training line industry-recognized best practices java full stack must industry experience full stack tech must good knowledge working experience git hub well deploying java full stack application aws azure develop retain up-to-date knowledge current working practices design quality self-paced recorded training sessions above-mentioned topics working professionals corporates carry course monitoring evaluation collating participants training assessment report every fortnight create high-quality training materials candidates mentor instructors/team leaders/subject matter experts content course delivery techniques assigned technical courses maintain quality consistency course content throughout course life cycle skills experience minimum years hands-on experience oracle sql pl/sql core java j2ee servlets jsp jdbc maven hibernate spring [ core mvc orm ] spring boot microservices webservices [ soap rest ] junit mongo db git hub migrating java full stack application aws azure hands experience front end technologies html css javascript angular react excellent verbal written communication skills excellent organizational time-management abilities ability work data uncover insights consumer mindset experience building delivering educational resources including designing virtualized network training lab environments administrating lms systems reporting authoring exams self-assessment surveys rolesoftware developer industry typerecruitment staffing functional areait software application programming maintenance employment typefull time permanent role categoryprogramming design education ug b.tech/b.e computers pg post graduation required key skills hibernatecore javafront endoracle sqljspjavascriptspring bootj2eetechnical training'

In [5]:
import os 
print(os.listdir())
useless_words = open('useless_words.txt' , 'r')

['useless words.txt', 'prathamesh.txt', 'nikita.txt', 'useless_words.txt', 'uselessWordsRemoval.ipynb']

In [6]:
useless_words = useless_words.read().splitlines()
useless_words = [word.lower().strip(' ') for word in useless_words]
useless_words = set(useless_words)

print(len(useless_words))

543

In [7]:
import nltk 
from tqdm import tqdm
from nltk.tokenize import word_tokenize

removed_words = 0
total_words = 0 

for i in tqdm(range(df['job_desc'].shape[0])):
    curr = word_tokenize(df['job_desc'].values[i])
    t_words = ""

    for each in curr: 
        if each not in useless_words:
            t_words = t_words + ' ' + each 
        else:
            removed_words+=1 
        total_words +=1
    df['job_desc'].values[i] = t_words

df.head()

100%|██████████| 24550/24550 [00:20<00:00, 1170.90it/s]

,Unnamed: 0,Job Applicants:,Openings:,PG :,UG :,experience,job_desc,key_skills,position,salary,Doctorate :
0,0,59,1.0,Post Graduation Not Required,Any Graduate,2 - 5 years,chartered accountancy cpa cima mba cfa post q...,"['Assurance', 'Business transformation', 'Fixe...",PPM041 - AM-Internal Audit,Not Disclosed,NaN
1,1,39,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,4 - 6 years,roles responsibility high-quality virtual in-...,"['Hibernate', 'Core Java', 'Front End', 'Oracl...",Java Full Stack Developer,Not Disclosed,NaN
2,2,130,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,5 - 10 years,roles responsibility actively teams data solu...,"['Computer science', 'Data analysis', 'Analyti...",Sr. Data Scientist,Not Disclosed,NaN
3,3,42,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,10 - 15 years,principle architect communicator architecture...,"['Linux', 'Coding', 'Project management', 'Ana...",Principle Architect,Not Disclosed,NaN
4,4,102,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,3 - 8 years,3-8 dashboard report design development power...,"['tableau', 'Reporting Analyst', 'SQL database...",Industry Consulting Prin. Consultant,Not Disclosed,NaN

In [9]:
print(f'Total words are {total_words}')
print(f'Total words removed {removed_words}')
print(f'Percentage of words removed {(removed_words/total_words)*100}')

Total words are 3864528
Total words removed 1417925
Percentage of words removed 36.69076792819201

In [10]:
df.to_csv('dataset.csv' , sep='|')
df.to_excel('dataset_excel.xlsx' , engine = 'xlsxwriter')