In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('../dataset/Excel/dataset_lemmatized.xlsx' )

In [5]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Job Applicants:,Openings:,PG :,UG :,experience,job_desc,key_skills,position,salary,Doctorate :
0,0,0,0,59,1.0,Post Graduation Not Required,Any Graduate,2 - 5 years,charter accountancy cpa cima mba cfa post qua...,"['Assurance', 'Business transformation', 'Fixe...",PPM041 - AM-Internal Audit,Not Disclosed,NaN
1,1,1,1,39,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,4 - 6 years,role responsibility high-quality virtual in-p...,"['Hibernate', 'Core Java', 'Front End', 'Oracl...",Java Full Stack Developer,Not Disclosed,NaN
2,2,2,2,130,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,5 - 10 years,role responsibility actively team data soluti...,"['Computer science', 'Data analysis', 'Analyti...",Sr. Data Scientist,Not Disclosed,NaN
3,3,3,3,42,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,10 - 15 years,principle architect communicator architecture...,"['Linux', 'Coding', 'Project management', 'Ana...",Principle Architect,Not Disclosed,NaN
4,4,4,4,102,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,3 - 8 years,3-8 dashboard report design development power...,"['tableau', 'Reporting Analyst', 'SQL database...",Industry Consulting Prin. Consultant,Not Disclosed,NaN

In [6]:
df.job_desc[1]

' role responsibility high-quality virtual in-person line industry-recognized java stack stack tech git hub well deploy java stack aws azure develop retain up-to-date design self-paced record session above-mentioned professional corporates course monitor evaluation participant assessment report every high-quality material candidate mentor instructors/team leaders/subject expert content course delivery technique assign course maintain course content throughout course minimum oracle sql pl/sql java j2ee servlets jsp jdbc maven hibernate spring [ mvc orm ] spring boot microservices webservices [ soap rest ] junit mongo db git hub migrate java stack aws azure front end technology html cs javascript angular react verbal write communication organizational time-management data uncover insight consumer mindset build deliver educational design virtualized network lab environment administrate lm system report author exam self-assessment survey rolesoftware developer typerecruitment areait software program maintenance employment design pg post graduation hibernatecore javafront endoracle sqljspjavascriptspring bootj2eetechnical'

In [14]:
import os 
print(os.listdir())
useless_words = open('useless words.txt' , 'r')

['useless words.txt', 'prathamesh.txt', 'nikita.txt', 'uselessWordsRemoval.ipynb']

In [15]:
useless_words = useless_words.read().splitlines()
useless_words = [word.lower().strip(' ') for word in useless_words]
useless_words = set(useless_words)

print(len(useless_words))

562

In [16]:
import nltk 
from tqdm import tqdm
from nltk.tokenize import word_tokenize

removed_words = 0
total_words = 0 

for i in tqdm(range(df['job_desc'].shape[0])):
    curr = word_tokenize(df['job_desc'].values[i])
    t_words = ""

    for each in curr: 
        if each not in useless_words:
            t_words = t_words + ' ' + each 
        else:
            removed_words+=1 
        total_words +=1
    df['job_desc'].values[i] = t_words

df.head()

100%|██████████| 24550/24550 [00:14<00:00, 1714.94it/s]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Job Applicants:,Openings:,PG :,UG :,experience,job_desc,key_skills,position,salary,Doctorate :
0,0,0,0,59,1.0,Post Graduation Not Required,Any Graduate,2 - 5 years,charter accountancy cpa cima mba cfa qualific...,"['Assurance', 'Business transformation', 'Fixe...",PPM041 - AM-Internal Audit,Not Disclosed,NaN
1,1,1,1,39,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,4 - 6 years,responsibility high-quality virtual in-person...,"['Hibernate', 'Core Java', 'Front End', 'Oracl...",Java Full Stack Developer,Not Disclosed,NaN
2,2,2,2,130,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,5 - 10 years,responsibility actively data data-intensive p...,"['Computer science', 'Data analysis', 'Analyti...",Sr. Data Scientist,Not Disclosed,NaN
3,3,3,3,42,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,10 - 15 years,principle architect communicator architecture...,"['Linux', 'Coding', 'Project management', 'Ana...",Principle Architect,Not Disclosed,NaN
4,4,4,4,102,1.0,Post Graduation Not Required,B.Tech/B.E. in Computers,3 - 8 years,3-8 dashboard report power bi tableau 3-8 exp...,"['tableau', 'Reporting Analyst', 'SQL database...",Industry Consulting Prin. Consultant,Not Disclosed,NaN

In [17]:
print(f'Total words are {total_words}')
print(f'Total words removed {removed_words}')
print(f'Percentage of words removed {(removed_words/total_words)*100}')

Total words are 2446856
Total words removed 464184
Percentage of words removed 18.97063006568429

In [18]:
df.to_csv('../dataset/CSV/dataset.csv' , sep='|')
df.to_excel('../dataset/Excel/dataset_excel.xlsx' , engine = 'xlsxwriter')